<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text to Speech Converter</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Text to Speech Converter</h1>
      <form id="ttsForm" action="/convert" method="post">
        <label for="text">Enter text to convert to speech:</label><br /><br />
        <textarea id="text" name="text" rows="4" cols="50"></textarea
        ><br /><br />
        <input type="hidden" id="actionType" name="action_type" value="live" />
        <input
          type="button"
          value="Convert and Play Live"
          onclick="submitForm('live')"
        />
        <!-- <input
          type="button"
          value="Convert and Download"
          onclick="submitForm('download')"
        /> -->
      </form>
      {% if audio_url %}
      <div class="audio-player">
        <h2>Generated Audio</h2>
        <audio controls>
          <source src="{{ audio_url }}" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>
      {% endif %}
    </div>
    <script>
      function submitForm(actionType) {
        document.getElementById("actionType").value = actionType;
        document.getElementById("ttsForm").submit();
      }
    </script>
  </body>
</html>
